<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
    <title>Hello World</title>
</head>
<body>
    <section class="section">
        <main class="container">
            <div class="box">
                <h1 class="title">Hello World</h1>
                <p class="subtitle"><%= Time.now %></p>
            </div>
            <div class="box content">
                Sinatra has taken the stage with backup from Puma.
                <% unless params.empty? %>
                  <%= params[:who] %> is in the audience.
                <% else %>
                <br>
                Type <code><%= request.host %>?who=YOURNAMEHERE</code> for a suprise.
                <% end %>
            </div>
        </main>
    </section>
</body>
</html>